.us-body
  .us-body__header
    = render partial: 'users/us-body__header'
  .us-body__main
    .us-body__main__container
      .us-body__main__container__registration
        新規会員登録
      .us-body__main__container__registration-form
        .us-body__main__container__registration-form__content
          .us-btn-default.btn-mail
            = fa_icon"envelope-o",class: "icon-mail"
            メールアドレスで登録する
          .us-btn-default.btn-fb
            = fa_icon"facebook",class: "icon-facebook"
            Facebookで登録する
          .us-btn-default.btn-google
            = image_tag "google.jpg",class: "image-google"
            Googleで登録する
    .us-form-fb
    .us-form-google
  .us-body__footer
    = render partial: 'users/us-body__footer'