.us-body
  .us-body__header
    = render partial: 'users/us-body__header'
    .progress-bar
      = render partial: 'users/progress-bar'
  .us-body__main-registration
    .us-body__main-registration__container
      .us-body__main-registration__container__head
        .title 電話番号の確認
      = form_for(@user, url: detail_zip_signup_index_path, method: :get, html: {class:'us-body__main-registration__container__form'}) do |f|
        .us-body__main-registration__container__form__content
          .form-group
            %label.form-group__label 携帯電話の番号
            = f.text_field :phone_number, placeholder: "携帯電話の番号を入力", class:'input-default'
          = render partial: 'devise/shared/error_messages', locals: {user: @user, column: "phone_number"}
              
          %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          = f.submit "SMSを送信する", class: 'btn-default btn-red',type: "submit"
          %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
          .form-group.text-right
            %p
              = link_to '#' do
                電話番号の確認が必要な理由
                = fa_icon"angle-right", class:'angle'
  .us-body__footer
    = render partial: 'users/us-body__footer'