.us-body
  .us-body__header
    = render partial: 'users/us-body__header'
    .progress-bar
      = render partial: 'users/progress-bar'
  .us-body__main-registration
    .us-body__main-registration__container
      .us-body__main-registration__container__head
        .title 会員情報入力
      = form_for(@user, url: detail_tel_signup_index_path, method: :get, html: {class:'us-body__main-registration__container__form'}) do |f|
        = hidden_field_tag :current_step, 'registration'
        .us-body__main-registration__container__form__content
          .form-group
            %label.form-group__label ニックネーム
            %span.form-group__require 必須
            = f.text_field :nickname, placeholder: "例) メルカリ太郎", class:'input-default'
            = render partial: 'devise/shared/error_messages', locals: {user: @user, column: "nickname"}

          .form-group
            %label.form-group__label メールアドレス
            %span.form-group__require 必須
            = f.email_field :email, placeholder: "PC・携帯どちらでも可" , class:'input-default'
            = render partial: 'devise/shared/error_messages', locals: {user: @user, column: "email"}
          .form-group
            %label.form-group__label パスワード
            %span.form-group__require 必須
            = f.password_field :password, placeholder: "7文字以上" , class:'input-default'
            = render partial:  'devise/shared/error_messages', locals: {user: @user, column: "password"}
          .form-group
            %label.form-group__label パスワード (確認)
            %span.form-group__require 必須
            = f.password_field :password_confirmation, placeholder: "7文字以上" , class:'input-default'
            = render partial:  'devise/shared/error_messages', locals: {user: @user, column: "password_confirmation"}
          .form-group
            .form-group__sub-head 本人確認
            .form-group__text
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。

            .form-group
              %div
                %label.form-group__label お名前(全角)
                %span.form-group__require 必須
              = f.text_field :last_name, placeholder: "例) 山田" , class:'input-default-half'
              = f.text_field :first_name, placeholder: "例) 彩" , class:'input-default-half'
              = render partial:  'devise/shared/error_messages', locals: {user: @user , column: "first_name"}
              = render partial:  'devise/shared/error_messages', locals: {user:@user , column: "last_name"}
            .form-group
              %div
                %label.form-group__label お名前カナ(全角)
                %span.form-group__require 必須
              = f.text_field :last_name_kana, placeholder: "例) ヤマダ" , class:'input-default-half'
              = f.text_field :first_name_kana, placeholder: "例) アヤ" ,  class:'input-default-half'
            = render partial:  'devise/shared/error_messages', locals: {user:@user , column: "last_name_kana"}
            = render partial:  'devise/shared/error_messages', locals: {user:@user , column: "first_name_kana"}
            .form-group
              %label.form-group__label 生年月日
              %span.form-group__require 必須
              .birthday-select-wrap
                .select-wrap
                  .select-wrap-wrap
                    %i.fa.fa-chevron-down.select-wrap-wrap
                    =f.select :birth_year,[*1900..2019], {},{:id=>"year", :style => "width: 80px;"}
                    %span{:style => "margin-left: 3px; margin-right: 5px; display: inline-block;"} 年
                    
                .select-wrap
                  .select-wrap-wrap
                    %i.fa.fa-chevron-down.select-wrap-wrap
                    =f.select :birth_month, [*1..12], {}, {:id=>"month", :style => "width: 80px;"}
                    %span{:style => "margin-left: 3px; margin-right: 5px; display: inline-block;"} 月
                    
                .select-wrap
                  .select-wrap-wrap
                    %i.fa.fa-chevron-down.select-wrap-wrap
                    =f.select :birth_day, [*1..31],{}, {:id=>"day", :style => "width: 80px;"}
                    %span{:style => "margin-left: 3px; margin-right: 5px; display: inline-block;"} 日
              
            .form-group__info-text
              ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .us-body__main-registration__container__form__content
          .form-group
            = recaptcha_tags
          .form-group
            %p.form-group__text.text-center
              「次へ進む」のボタンを押すことにより、
              %a{href:"#", :target => "blank"}利用規約
              に同意したものとみなします
          = f.submit "次へ進む", class: 'btn-default btn-red',type: "submit"
          .form-group.text-right
            %p
              = link_to '#' do
                本人情報の登録について
                = fa_icon"angle-right", class:'angle'
  .us-body__footer
    = render partial: 'users/us-body__footer'
