.ave
  %ul.slider
    %li 
      = link_to "#" do
        = image_tag "top-banner-camp.jpg" ,size: "cover"
    %li.only
      = link_to "#" do
        = image_tag "top-banner-main.jpg", size: "cover"
      
    %li
      = link_to "#" do
        = image_tag "susizanmai.jpg", size: "cover"




