.us-body
  .us-body__header
    = render partial: 'users/us-body__header'
    .progress-bar
      = render partial: 'users/progress-bar'
  .us-body__main-registration
    .us-body__main-registration__container
      %h2.us-body__main-registration__container__head
        支払い方法
      .us-body__main-registration__container__form
        .us-body__main-registration__container__form__content
          .form-group
            %label.form-group__label カード番号
            %span.form-group__require 必須
            %input{type:"text", placeholder: "半角数字のみ" , name:"nickname" , class:'input-default'}
            .signup-card-list
              %li= image_tag "visa.svg"
              %li= image_tag "master-card.svg"
              %li= image_tag "saison-card.svg"
              %li= image_tag "jcb.svg"
              %li= image_tag "american_express.svg"
              %li= image_tag "dinersclub.svg"
              %li= image_tag "discover.svg"
          .form-group
            %div
              %label.form-group__label 有効期限
              %span.form-group__require 必須
            .expiration_date
              %select{ placeholder: "01" , name:"expiration_date_month" , class:'input-default-half'}
                %option{:value => "--"} -- 
              %i.fa.fa-chevron-down.select-wrap-wrap
              %span 月
            .expiration_date
              %select{ placeholder: "01" , name:"expiration_date_year" , class:'input-default-half'}
                %option{:value => "--"} -- 
              %i.fa.fa-chevron-down.select-wrap-wrap
              %span 年
          .form-group
            %label.form-group__label セキュリティコード
            %span.form-group__require 必須
            %input{type:"text", placeholder: "カード背面4桁もしくは3桁の番号" , name:"nickname" , class:'input-default'}
          %button{class: 'btn-default btn-red',type: "submit"}
            次へ進む
  .us-body__footer
    = render partial: 'users/us-body__footer'