.body
  = render partial: 'tops/header/head'
  = render partial: 'layouts/pankuzu'
  = render partial: 'layouts/syuppinn'
  .mid
    .side
      = render partial: 'users/side-bar'
    .main
      %h2.user 
        本人情報の登録
      .main-content
        %p#line
          お客さまの本人情報をご登録ください。
          %br
          登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
        %p.right
          = link_to "#" do
            本人確認書類のアップロードについて
            = fa_icon "chevron-right" , class: "chevron"
        .form-group
          %label お名前
          %p 亜蛇懇愚
        .form-group
          %label お名前カナ
          %p アジャコング
        .form-group
          %label 生年月日
          %p 3000/1/1
        .form-group
          %label 郵便番号
          %span.nin 任意
          %input{type: "text", placeholder: "例）1234567", value: "1234567", name: "zip_code"}
        .form-group
          %label 都道府県
          %span.nin 任意
          .select-wrap
            = fa_icon "angle-down"
            %select.prefectur
              %option --
              %option 北海道
              %option 青森県
              %option 岩手県
              %option 宮城県
              %option 秋田県
              %option 山形県
              %option 福島県
              %option 東京都
              %option 神奈川県
              %option 埼玉県
              %option 千県葉
              %option 茨城県
              %option 栃木県
              %option 群馬県
              %option 山梨県
              %option 新潟県
              %option 長野県
              %option 富山県
              %option 石川県
              %option 福井県
              %option 愛知県
              %option 岐阜県
              %option 静岡県
              %option 三重県
              %option 大阪府
              %option 兵庫県
              %option 京都府
              %option 滋賀県
              %option 奈良県
              %option 和歌山県
              %option 鳥取県
              %option 島根県
              %option 岡山県
              %option 広島県
              %option 山口県
              %option 徳島県
              %option 香川県
              %option 愛媛県
              %option 高知県
              %option 福岡県
              %option 佐賀県
              %option 長崎県
              %option 熊本県
              %option 大分県
              %option 宮崎県
              %option  鹿児島県
              %option 沖縄県
        .form-group
          %label 市区町村
          %span.nin 任意
          %input{type: "text", placeholder: "例）横浜市緑区", value: "名古屋市港区", name: "city"}
        .form-group
          %label 番地
          %span.nin 任意
          %input{type: "text", placeholder: "例）青山1−1−1", value: "1234567", name: "addres1"}
        .form-group
          %label 建物名
          %span.nin 任意
          %input{type: "text", placeholder: "例）柳ビル103", value: "1234567", name: "addres2"}
        %button{type: "submit", class: "btn-red"}
          登録する
        .form-group  
          %p.right
            = link_to  "本人情報の登録について" , "#"
            = fa_icon "chevron-right"
= render partial: 'tops/bottoms/bottom'

