.body
  = render partial: 'tops/header/head'
  .pankuzu
    - breadcrumb :logout
    = breadcrumbs separator: " &rsaquo; "
  = render partial: 'layouts/syuppinn'
  .mid
    .side
      = render partial: 'users/side-bar'
    .main
      .form
        .form-content
          ログアウト
  = render partial: 'tops/bottoms/bottom'