.body
  = render partial: 'tops/header/head'
  .pankuzu
    - breadcrumb :logout
    = breadcrumbs separator: " &rsaquo; "
  = render partial: 'layouts/syuppinn'
  .mid
    .side
      = render partial: 'users/side-bar'
    .main
      .form
        = form_for(@user,url: destroy_user_session_path ,method: :delete) do |f|
          = f.submit "ログアウト", class:"form-content"
  = render partial: 'tops/bottoms/bottom'