.body
  .body__next
    = render partial: 'layouts/syuppinn'
    .head
      = render partial: 'tops/header/head'
    .bread-crumbs
      = render partial: 'layouts/pankuzu'
    .mypage
      .mypage__right
        .mypage__right--foot
          = render partial: 'users/mypage__right--foot'
      .mypage__left
        = render partial: 'users/side-bar'
    .bottom
      = render partial: 'tops/bottoms/bottom'