.us-body
  .us-body__header
    = render partial: 'users/us-body__header'
    .progress-bar
      .progress
        .progress__item
          .progress__title.progress--done 会員情報
          .progress__dot.progress--done
            .fa.fa-circle
            .progress__line.progress__user
        .progress__item
          .progress__title.progress__user 電話番号認証
          .progress__dot.progress__user
            .fa.fa-circle
            .progress__line.progress__tel
        .progress__item
          .progress__title.progress__tel お届け先住所入力
          .progress__dot.progress__tel
            .fa.fa-circle
            .progress__line.progress__address
        .progress__item
          .progress__title.progress__address 支払い方法
          .progress__dot.progress__address
            .fa.fa-circle
            .progress__line.progress__peymethod
        .progress__item
          .progress__title.progress__peymethod 完了
          .progress__dot.progress__peymethod
            .fa.fa-circle
  .us-body__main-registration
    .us-body__main-registration__container
      %h2.us-body__main-registration__container__head
        会員情報入力
      = form_for(@user, url: users_detail_confirmation_path,html: {class:'us-body__main-registration__container__form'}) do |f|
        .us-body__main-registration__container__form__content
          .form-group
            %label.form-group__label ニックネーム
            %span.form-group__require 必須
            %input{type:"text", placeholder: "例) メルカリ太郎" , name:"nickname" , class:'input-default'}
          .form-group
            %label.form-group__label メールアドレス
            %span.form-group__require 必須
            %input{type:"text", placeholder: "PC・携帯どちらでも可" , name:"email" , class:'input-default'}
          .form-group
            %label.form-group__label パスワード
            %span.form-group__require 必須
            %input{type:"text", placeholder: "7文字以上" , name:"password" , class:'input-default'}
          .form-group
            %label.form-group__label パスワード (確認)
            %span.form-group__require 必須
            %input{type:"text", placeholder: "7文字以上" , name:"password2" , class:'input-default'}
          .form-group
            .form-group__sub-head 本人確認
            .form-group__text
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .form-group
            %div
              %label.form-group__label お名前(全角)
              %span.form-group__require 必須
            %input{type:"text", placeholder: "例) 山田" , name:"family_name_kanji" , class:'input-default-half'}
            %input{type:"text", placeholder: "例) 彩" , name:"first_name_kanji" , class:'input-default-half'}
          .form-group
            %div
              %label.form-group__label お名前カナ(全角)
              %span.form-group__require 必須
            %input{type:"text", placeholder: "例) ヤマダ" , name:"family_name_kana" , class:'input-default-half'}
            %input{type:"text", placeholder: "例) アヤ" , name:"first_name_kana" , class:'input-default-half'}
          .form-group
            %label.form-group__label 生年月日
            %span.form-group__require 必須
            %br
            .birthday-select-wrap
              .select-wrap
                .select-wrap-wrap
                  %i.fa.fa-chevron-down.select-wrap-wrap
                  %select#year{:name => "year", :style => "width: 80px;"}
                    %option{:value => "--"} --
                    %option{:value => "1970"} 1970
                    %option{:value => "1971"} 1971
                    %option{:value => "1972"} 1972
                    %option{:value => "1973"} 1973
                    %option{:value => "1974"} 1974
                    %option{:value => "1975"} 1975
                    %option{:value => "1976"} 1976
                    %option{:value => "1977"} 1977
                    %option{:value => "1978"} 1978
                    %option{:value => "1979"} 1979
                    %option{:value => "1980"} 1980
                    %option{:value => "1981"} 1981
                    %option{:value => "1982"} 1982
                    %option{:value => "1983"} 1983
                    %option{:value => "1984"} 1984
                    %option{:value => "1985"} 1985
                    %option{:value => "1986"} 1986
                    %option{:value => "1987"} 1987
                    %option{:value => "1988"} 1988
                    %option{:value => "1989"} 1989
                    %option{:value => "1990"} 1990
                    %option{:value => "1991"} 1991
                    %option{:value => "1992"} 1992
                    %option{:value => "1993"} 1993
                    %option{:value => "1994"} 1994
                    %option{:value => "1995"} 1995
                    %option{:value => "1996"} 1996
                    %option{:value => "1997"} 1997
                    %option{:value => "1998"} 1998
                    %option{:value => "1999"} 1999
                    %option{:value => "2000"} 2000
                    %option{:value => "2001"} 2001
                    %option{:value => "2002"} 2002
                    %option{:value => "2003"} 2003
                    %option{:value => "2004"} 2004
                    %option{:value => "2005"} 2005
                    %option{:value => "2006"} 2006
                    %option{:value => "2007"} 2007
                    %option{:value => "2008"} 2008
                    %option{:value => "2009"} 2009
                    %option{:value => "2010"} 2010
                    %option{:value => "2011"} 2011
                    %option{:value => "2012"} 2012
                    %option{:value => "2013"} 2013
                    %option{:value => "2014"} 2014
                    %option{:value => "2015"} 2015
                    %option{:value => "2016"} 2016
                    %option{:value => "2017"} 2017
                    %option{:value => "2018"} 2018
                    %option{:value => "2019"} 2019
                    %option{:value => "2020"} 2020
                    %option{:value => "2021"} 2021
                    %option{:value => "2022"} 2022
                  %span{:style => "margin-left: 3px; margin-right: 5px; display: inline-block;"} 年
              .select-wrap
                .select-wrap-wrap
                  %i.fa.fa-chevron-down.select-wrap-wrap
                  %select#month{:name => "month", :style => "width: 80px;"} 
                    %option{:value => "--"} -- 
                    %option{:value => "1"} 1
                    %option{:value => "2"} 2
                    %option{:value => "3"} 3
                    %option{:value => "4"} 4
                    %option{:value => "5"} 5
                    %option{:value => "6"} 6
                    %option{:value => "7"} 7
                    %option{:value => "8"} 8
                    %option{:value => "9"} 9
                    %option{:value => "10"} 10
                    %option{:value => "11"} 11
                    %option{:value => "12"} 12
                  %span{:style => "margin-left: 3px; margin-right: 5px; display: inline-block;"} 月
              .select-wrap
                .select-wrap-wrap
                  %i.fa.fa-chevron-down.select-wrap-wrap
                  %select#day{:name => "day", :style => "width: 80px;"}
                    %option{:value => "--"} --
                    %option{:value => "1"} 1
                    %option{:value => "2"} 2
                    %option{:value => "3"} 3
                    %option{:value => "4"} 4
                    %option{:value => "5"} 5
                    %option{:value => "6"} 6
                    %option{:value => "7"} 7
                    %option{:value => "8"} 8
                    %option{:value => "9"} 9
                    %option{:value => "10"} 10
                    %option{:value => "11"} 11
                    %option{:value => "12"} 12
                    %option{:value => "13"} 13
                    %option{:value => "14"} 14
                    %option{:value => "15"} 15
                    %option{:value => "16"} 16
                    %option{:value => "17"} 17
                    %option{:value => "18"} 18
                    %option{:value => "19"} 19
                    %option{:value => "20"} 20
                    %option{:value => "21"} 21
                    %option{:value => "22"} 22
                    %option{:value => "23"} 23
                    %option{:value => "24"} 24
                    %option{:value => "25"} 25
                    %option{:value => "26"} 26
                    %option{:value => "27"} 27
                    %option{:value => "28"} 28
                    %option{:value => "29"} 29
                    %option{:value => "30"} 30
                    %option{:value => "31"} 31
                  %span{:style => "margin-left: 3px; margin-right: 5px; display: inline-block;"} 日
                  %input#yyyymmdd{:name => "yyyymmdd", :type => "hidden"}/
          .form-group__info-text
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .us-body__main-registration__container__form__content
          .form-group
            = recaptcha_tags
          .form-group
            %p.form-group__text.text-center
              「次へ進む」のボタンを押すことにより、
              %a{href:"#", :target => "blank"}利用規約
              に同意したものとみなします
          %button{class: 'btn-default btn-red',type: "submit"}
            次へ進む
          .form-group.text-right
            %p
              = link_to '#' do
                本人情報の登録について
                = fa_icon"angle-right", class:'angle'
  .us-body__footer
    = render partial: 'users/us-body__footer'
