.body
  .body__next
    = render partial: 'layouts/syuppinn'
    .head
      = render partial: 'tops/header/head'
    .pankuzu
      - breadcrumb :todo
      = breadcrumbs separator: " &rsaquo; "
    .rock
      .mypage
        .mypage__right

          .mypage__right--middle
            .mypage-tag-notification-todo
              %ul.mypage-tabs
                %li.mypage-tab
                  お知らせ
                %li.mypage-tab.active
                  やることリスト
            %ul.tab-contents
              %li.tab-content.show
                .tab-content__todo
                  %ul.tab-content__todo--contents
                    %li.tab-content__todo--information
                      現在、やることリストはありません

        .mypage__left
          = render partial: 'users/side-bar'
    .bottom
      = render partial: 'tops/bottoms/bottom'
