.content
  - @product.each do |product|
    - if product.buyer_id.nil?
      .content__box2
        = link_to "products/#{product.id}/details", class: "box1"  do
          = image_tag product.images[0].url.url ,size: "188x252"
        .content__box1--price
          .price
            ¥
            = number_with_delimiter(product.price, :delimiter => ',')
        .content__box1--caption
          .caption
            %span
              = product.name
    - else
      .content__box2
        .sell-icon
        .sell-box
          SOLD
        - product.images.each do |only|
          = link_to "products/#{product.id}/details", class: "box1"  do
            = image_tag only.url.url ,size: "188x252"
          .content__box1--price
            .price
              ¥
              = number_with_delimiter(product.price, :delimiter => ',')
          .content__box1--caption
            .caption
              %span
                = product.name