.itemconteiner
  .itemconteiner__itemcategory
    okaponさんのその他の出品
  .itemconteiner__itemconteiner2
    .itemconteiner__itemconteiner2--itembox1
      = render partial: 'products/itembox'
    .itemconteiner__itemconteiner2--itembox2
      = render partial: 'products/itembox'
    .itemconteiner__itemconteiner2--itembox3
      = render partial: 'products/itembox'
    .itemconteiner__itemconteiner2--itembox4
      = render partial: 'products/itembox'
    .itemconteiner__itemconteiner2--itembox5
      = render partial: 'products/itembox'
    .itemconteiner__itemconteiner2--itembox6
      = render partial: 'products/itembox'