.body
  .body__next
    = render partial: 'tops/header/head'
  .body__itembox
    .body__itembox--productname
      = @product.name
    .body__itembox--conteiner
      .body__itembox--conteiner--pic
        .body__itembox--conteiner--pic
          %ul.slider-for
            - @product.images.each do |image|
              %li 
                = image_tag image.url
          %ul.slider-nav
            - @product.images.each do |image|
              %li.slick-slide
                = image_tag image.url

      .body__itembox--conteiner--table
        %table{:border => "1", :bordercolor => "#f5f5f5", :cellpadding => "5", :cellspacing => "0", :width => "300"}
          %tr
            %th{:bgcolor => "#fafafa",:width => "117.5",:height => "70"}
              %font{:size => "2"} 出品者
            %td{:bgcolor => "#ffffff",:width => "182",:height => "71"}
              %font{:size => "2",:color => "blue"} 
                = link_to @product.seller.nickname,"#"
          %tr
            %th{:bgcolor => "#fafafa",:width => "117.5",:height => "73"}
              %font{:size => "2"} カテゴリー
            %td{:bgcolor => "#ffffff",:width => "182",:height => "71"}
              %font{:size => "2",:color => "blue"}
                = @product.category.parent.parent.name
                %br/
                = @product.category.parent.name
                %br/
                = @product.category.name
          %tr
            %th{:bgcolor => "#fafafa",:width => "117.5",:height => "46"}
              %font{:size => "2"} ブランド
            %td{:bgcolor => "#ffffff",:width => "182",:height => "46"}
              %font{:size => "2",:color => "blue"}
                = link_to @product.brand,"#"
          %tr
            %th{:bgcolor => "#fafafa",:width => "117.5",:height => "46"}
              %font{:size => "2"} 商品の状態
            %td{:bgcolor => "#ffffff",:width => "182",:height => "46"}
              %font{:size => "2"}
                = @product.state
          %tr
            %th{:bgcolor => "#fafafa",:width => "117.5",:height => "46"}
              %font{:size => "2"} 配送料の負担
            %td{:bgcolor => "#ffffff",:width => "182",:height => "46"}
              %font{:size => "2"}
                = @product.shipping_fee
          %tr
            %th{:bgcolor => "#fafafa",:width => "117.5",:height => "46"}
              %font{:size => "2"} 配送の方法
            %td{:bgcolor => "#ffffff",:width => "182",:height => "46"}
              %font{:size => "2"} 未定
          %tr
            %th{:bgcolor => "#fafafa",:width => "117.5",:height => "46"}
              %font{:size => "2"} 配送元地域
            %td{:bgcolor => "#ffffff",:width => "182",:height => "46"}
              %font{:size => "2"} 
                = link_to @product.shipping_region,"#"
          %tr
            %th{:bgcolor => "#fafafa",:width => "117.5",:height => "46"}
              %font{:size => "2"} 発送日の目安
            %td{:bgcolor => "#ffffff",:width => "182",:height => "46"}
              %font{:size => "2"}
                = @product.shipping_date
    .body__itembox--price
      .body__itembox--price--price2
        ¥
        =  number_with_delimiter(@product.price, :delimiter => ',')
      .body__itembox--price--price3
        (税込)
      .body__itembox--price--price4
        送料込み
        
    - if user_signed_in? && @product.seller.id == current_user.id
    - elsif user_signed_in? && @product.buyer_id.present?
      .sell-gray
        .sell-gray__font
          売り切れました
    - else
      .body__itembox--buybtn
        = link_to "購入画面に進む", "/products/#{@product.id}/confirm"
    .body__itembox--detail
      %p.body__itembox--detail
        = @product.description
    .body__itembox--btnconteiner
      .body__itembox--btnconteiner--left
        .body__itembox--btnconteiner--left--likebtn
          .body__itembox--btnconteiner--left--likebtn--heart
            = fa_icon"heart-o"
          .body__itembox--btnconteiner--left--likebtn--text
            いいね!
          .body__itembox--btnconteiner--left--likebtn--count
            2
        .body__itembox--btnconteiner--left--report
          .body__itembox--btnconteiner--left--report--flag
            = fa_icon"flag-o"
          .body__itembox--btnconteiner--left--report--text
            不適切な商品の報告
      .body__itembox--btnconteiner--compliance
        .body__itembox--btnconteiner--compliance--lock
          = fa_icon"lock"
        .body__itembox--btnconteiner--compliance--text
          あんしん、あんぜんへの取り組み
  .body__comment
    .body__comment--text
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .body__comment--textform
      %textarea.textarea-default{:type => "text",:name => "body"}
    .body__comment--commentbtn
      %button.body__comment--commentbtn{:type => "submit"}コメントする
  .body__prevnext
    .body__prevnext--prev
      .body__prevnext--prev--icon
        = fa_icon"chevron-left"
      .body__prevnext--prev--text
        文スト 中原中也 アクキー
    .body__prevnext--next
      .body__prevnext--next--text
        古文単語マスター333
      .body__prevnext--next--icon
        = fa_icon"chevron-right"
  .body__socialmedia
    .body__socialmedia--center
    .body__socialmedia--socialmediabox
      .body__socialmedia--socialmediabox--facebook
        .body__socialmedia--socialmediabox--facebook--facebook2
          = fa_icon"facebook-square"
      .body__socialmedia--socialmediabox--twitter
        .body__socialmedia--socialmediabox--twitter--twitter2
          = fa_icon"twitter"
      .body__socialmedia--socialmediabox--pinterest
        .body__socialmedia--socialmediabox--pinterest--pinterest2
          = fa_icon"pinterest"
  .body__itemconteiner
    .body__itemconteiner--inner
      = render partial: 'products/itemconteiner'
    .body__itemconteiner--inner2
      = render partial: 'products/itemconteiner'
.pankuzu
  .pankuzu
    - breadcrumb :details
    = breadcrumbs separator: " &rsaquo; "
.bottoms
  = render partial: 'tops/bottoms/bottom'