.pankuzu
  %ul
    %li 
      = link_to "メルカリ" , "#"
    = fa_icon "chevron-right" , class: "allow"
    %li 
      = link_to "マイぺージ" , "#" 
    = fa_icon "chevron-right" , class: "allow"
    %li 
      = link_to "本人情報の登録" , "#" 
  